
body {
    background-color: #FAF5E9;
    font-family: "Verdana", sans-serif;
    margin: 0px;
}

#header {
    margin: 0px;
    width: 100%;
    min-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #DAB886;
    margin-bottom: 20px;
}

#headercol {
    margin-left: 40px;
    margin-right: 40px;
}

#header h1 {
    margin: 0px;
    font-weight: normal;
    font: 180% Georgia, "Times New Roman", serif;
}

#header #userline {
    float: right;
    text-align: right;
    font-size: 90%;
}

#body {
    position: relative;
    margin: 0px 0px;
    width: 100%;
}

#bodycol {
    margin-left: 40px;
    margin-right: 40px;
}

#navbar {
    background: #641;
    font-size: 85%;
    padding: 4px 8px;
    margin-bottom: 20px;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 2px 8px;
}

#navbar a:hover {
    text-decoration: underline;
}

#navbar .Selected {
    background-color: #A71;
    border-radius: 4px;
    box-shadow: inset 0px 0px 4px #DD0;
}

#body h1 {
    font-weight: normal;
    font: 120% Georgia, "Times New Roman", serif;
}

.FormInput {
    font-size: 100%;
    margin: 4px;
    min-width: 50%;
    padding: 2px 4px;
}

.FormTextArea {
    font-family: "Menlo", "Consolas", monospace;
    font-size: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 8px;
    width: 95%;
}

.FormTextHalfLine {
    font-family: "Menlo", "Consolas", monospace;
    font-size: 85%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
    width: 50%;
}

.FormButton {
    font-size: 100%;
    font-weight: normal;
    margin: 4px;
    background-color: white;
    color: black;
    border: 1px solid #AAA;
    border-radius: 6px;
    padding: 2px 8px;
}

.HotButton {
    background-color: #EFA;
}

.SmallButton {
    font-size: 85%;
}

.FormAction {
    font-style: italic;
    margin: 4px 8px;
}

.FormWarning {
    font-size: 85%;
    font-style: italic;
}

.FormButtonLabel {
    font-size: 85%;
    margin-left: 20px;
}

a {
    color: #B50000;
}

#header a {
    color: #850000;
}

a:hover {
    color: #D11515;
}

hr {
    border: none;
    height: 2px;
    background: #F0D0A0;
}

code {
    font: 100% "Courier Prime", "Courier", monospace;
    background: #ECE0B0;
    padding: 1px 2px;
}

pre {
    background: #ECE0B0;
    padding: 8px 16px;
}

.Tabular {
    font-family: "Menlo", "Consolas", monospace;
}

.Emph {
    font-style: italic;
}

ul {
    list-style: url("cssbullet.png");
    margin-left: 10px;
    padding-left: 9px;
    border-left: 3px solid #F0D0A0;
}

ul li {
    text-indent: 20px hanging;
}

ul.InfoList li {
    margin-top: 4px;
    margin-bottom: 4px;
}

ul.UserInfoList li {
    margin-top: 4px;
    margin-bottom: 4px;
}

.DirButtons {
    margin-left: 0px;
    padding-left: 40px;
}

.FileList dt {
    margin-top: 6px;
}

.FileList dd.FileInfoList {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.FileList dd.FileInfoLine {
    margin-left: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 85%;
    padding-left: 30px;
}

.FileList dd.FileButtons {
    margin-left: 0px;
    padding-left: 30px;
}

.FileList .Details {
    font-size: 85%;
}

.FileList .Selected {
    background: #FFA;
    padding-top: 8px;
    padding-bottom: 8px;
}

.FileList .Selected .HotButton {
    background-color: #EAFB80;
}

.SubdirButtons.Selected {
    background: #FFA;
    padding-top: 8px;
    padding-bottom: 8px;
}

.FileComments {
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 0px;
    font-size: 85%;
    white-space: pre-wrap;
    border-left: 3px solid #F0D0A0;
    padding-left: 16px;
}

.ItemName {
    font-size: 85%;
}

.ItemGloss {
    font-size: 85%;
    font-style: italic;
}

.MetadataLine {
    font-size: 85%;
    font-family: "Menlo", "Consolas", monospace;
}

.ResultNote {
    background: #FFA;
    padding: 4px 8px;
}

@media screen and (max-width: 480px) {
    #header h1 {
        font-size: 120%;
    }
    
    #headercol {
        margin-left: 20px;
        margin-right: 20px;
    }

    #bodycol {
        margin-left: 20px;
        margin-right: 20px;
    }
    
}
