[DEFAULT]

DBFile = /var/ifarchive/lib/admin.db

IncomingDir = /var/ifarchive/incoming
TrashDir    = /var/ifarchive/trash
ArchiveDir  = /var/ifarchive/htdocs/if-archive

[AdminTool]

PyLibPath = /var/ifarchive/wsgi-bin/lib

AppRoot = /admin
AppCSSURI = /misc/admintool.css

TemplateDir = /var/ifarchive/lib/admintool

LogFile = /var/ifarchive/logs/admintool.log

# Ten days (in seconds)
MaxSessionAge = 864000
