[DEFAULT]

DBFile = /var/ifarchive/lib/admin.db

IncomingDir = /var/ifarchive/incoming
ArchiveDir = /var/ifarchive/htdocs

[AdminTool]

PyLibPath = /var/ifarchive/wsgi-bin/lib

AppRoot = /admin
AppCSSURI = /misc/admintool.css

TemplateDir = /var/ifarchive/lib/admintool

# Ten days (in seconds)
MaxSessionAge = 864000
