[DEFAULT]

# This file contains shared config info for upload.py and ifdbize.py.
# It must be readable by www-data and admins.

# The directories of interest.
IncomingDir = /var/ifarchive/incoming
TrashDir    = /var/ifarchive/trash
ArchiveDir  = /var/ifarchive/htdocs/if-archive

# SQLite database for admin tasks.
DBFile = /var/ifarchive/lib/sql/admin.db

# If true, login cookies are only accepted via https. This prevents
# some cookie-snooping attacks.
SecureSite = true

[AdminTool]

# Python module dir. (This is also in the Apache config as WSGIPythonPath.)
PyLibPath = /var/ifarchive/wsgi-bin/lib

# URI (on the web domain) where the admin script runs.
AppRoot = /admin
# URI (on the web domain) where the admin pages' CSS file lives.
AppCSSURI = /misc/admintool.css

# Jinja template dir.
TemplateDir = /var/ifarchive/lib/admintool

# Log file.
LogFile = /var/ifarchive/logs/admintool.log

# Duration of a log-in session, unless extended.
# Ten days (in seconds)
MaxSessionAge = 864000

# Age at which to delete files in /trash.
# Thirty days (in seconds)
MaxTrashAge = 2592000
