{% extends "page.html" %}

{% block title %}
Admin Tool Activity Log
{% endblock %}

{% block content %}

{% if not start %}
  <p class="ItemGloss">(Most recent first)</p>
{% else %}
  <p class="ItemGloss">(Starting {{ start }} lines ago, going back)</p>
{% endif %}

<ul>
{% for line in lines %}
  <li>{{ line }}
{% endfor %}
</ul>

<p>
{% if start %}
  <a href="{{ uribase }}?start={{ prevstart }}">&#x2190; Prev page</a>
  &nbsp;
{% endif %}
{% if lines %}
  <a href="{{ uribase }}?start={{ nextstart }}">Next page &#x2192;</a>
{% endif %}
</p>

{% endblock %}
