{% extends "page.html" %}

{% block title %}
User Info: Change Timezone
{% endblock %}

{% block content %}

{# This list must match zones named in pytz. #}
{% set tzlist = [
   'UTC',
   'US/Eastern',
   'US/Central',
   'US/Mountain',
   'US/Pacific',
   'Europe/London',
   'Europe/Copenhagen',
   'Asia/Singapore',
] %}

<p>
  Time zone: {% if user.tzname %} {{ user.tzname }} {% else %} (not set, using UTC) {% endif %}
</p>

<form method="post" action="{{ approot }}/user/changetz">

<input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>

<div>
<select class="FormButton" name="tz_field">
  {% for tz in tzlist %}
    <option value="{{ tz }}" {% if tz == user.tzname %}selected{% endif %}>{{ tz }}</option>
  {% endfor %}
</select>
</div>

<div>
<input class="FormButton HotButton" name="commit" type="submit" value="Change timezone">
</div>

{% if formerror %}
<p>{{ formerror }}</p>
{% endif %}

</form>

{% endblock %}
