{% extends "page.html" %}

{% block content %}

{% block prefilelist %}{% endblock %}

{% if not files %}
<p>No files in <code>/{{ dirname }}</code>.<p>
{% endif %}

<dl class="FileList">
  {% for file in files %}
    {% set isselected = (op and opfile == file.name) %}

    <dt>
    <span class="Details">{{ file.fdate }}
    <a href="{{ approot }}/{{ uribase }}/info/{{ file.name|urlencode }}">(info)</a> :</span>
    <code><a href="{{ approot }}/{{ uribase }}/download/{{ file.name|urlencode }}">{{ file.name }}</a></code>
    <span class="Details">({{ file.size|delimnumber }} bytes)</span>

    {% if filebuttons %}
    {% include "filebuttons.html" %}
    {% endif %}

  {% endfor %}
</dl>

{% block postfilelist %}{% endblock %}

{% if formerror %}
<p>{{ formerror }}</p>
{% endif %}

{% if diddelete %}
<p>
  Deleted <code>{{ diddelete }}</code> from <code>/{{ dirname }}</code>.
</p>
{% endif %}

{% if didrename %}
<p>
  Renamed <code>{{ didrename }}</code> to <code>{{ didnewname }}</code>.
</p>
{% endif %}

{% if didmove %}
<p>
  Moved <code>{{ didmove }}</code> to <code>/unprocessed</code>.
</p>
{% endif %}

{% endblock %}
