{% extends "page.html" %}

{% block content %}

{% if indexdirdesc or indexdirmeta %}
  <ul class="InfoList">
  {% if indexdirdesc %}
    <li><div class="FileComments">{{ indexdirdesc }}</div>
  {% endif %}
  {% if indexdirmeta %}
    {% for key, val in indexdirmeta %}
    <li class="MetadataLine">{{ key }}: {{ val }}
    {% endfor %}
  {% endif %}
  </ul>
{% endif %}

{% block prefilelist %}{% endblock %}

{% if subdirs %}
  <hr>
  <dl class="FileList">
    {% for dir in subdirs %}
    
      <dt id="list_{{ dir.name |urlencode }}">
      {% if not dir.islink %}
        <code><a href="{{ approot }}/{{ uribase|urlencode }}/{{ dir.name|urlencode }}">{{ dir.name }}</a></code>
        <span class="Details">&nbsp; (subdir)</span>
      {% else %}
        <code>{{ dir.name }}</code>
        <span class="Details">&nbsp; (symlink
        {% if dir.broken %}<b>broken</b>{% endif %}
        &#x2192;
        {% if dir.broken %}
          <code>{{ dir.target }}</code>
        {%- else -%}
          <code><a href="{{ approot }}/{{ dir.realuri|urlencode }}">{{ dir.target }}</a></code>
        {%- endif -%}
      )</span>
      {% endif %}
      
      {% if dir.indexdesc or dir.indexmeta %}
      <dd class="FileInfoList">
        <ul>
        {% if dir.indexdesc %}
        <div class="FileComments">{{ dir.indexdesc }}</div>
        {% endif %}
        {% if dir.indexmeta %}
          {% for key, val in dir.indexmeta %}
          <li class="MetadataLine">{{ key }}: {{ val }}
          {% endfor %}
        {% endif %}
        </ul>
      {% endif %}
      
      {% if fileops %}
      {% set ent = dir %}
      {% include "filebuttons.html" %}
      {% endif %}
      
    {% endfor %}
  </dl>
{% endif %}

<hr>

{% if not files %}
  <p>No files in <code>/{{ dirname }}</code>.<p>
{% endif %}

<dl class="FileList">
  {% for file in files %}
    {% set isselected = (op and opfile == file.name) %}

    <dt id="list_{{ file.name |urlencode }}">

    {% if not file.islink %}
      {% if file.isbroken %}
        <code>{{ file.name }}</code>
        <span class="Details Emph">&nbsp; (file not in this directory)</span>
      {% else %}
        <code><a href="{{ approot }}/{{ uribase|urlencode }}?view=dl&amp;filename={{ file.name|urlencode }}">{{ file.name }}</a></code>
        <span class="Details">&nbsp; ({{ file.size|delimnumber }} bytes)</span>
      {% endif %}
    {% else %}
      <code>{{ file.name }}</code>
      <span class="Details">(symlink
      {% if file.broken %}<b>broken</b>{% endif %}
      &#x2192;
      {% if file.broken %}
        <code>{{ file.target }}</code>
      {%- else -%}
        <code><a href="{{ approot }}/{{ file.realuri|urlencode }}">{{ file.target }}</a></code>
      {%- endif -%}
      )</span>
    {% endif %}
    <br>

    {% if not file.islink %}
      <dd class="FileInfoLine">
      <span class="Tabular">{{ file.fdate }}</span>
      {% if file.isspecial or file.isbroken %}
      {% else %}
        &nbsp;
	<a href="{{ approot }}/{{ uribase|urlencode }}?view=info&amp;filename={{ file.name|urlencode }}">(info)</a>
      {% endif %}
      {% if dirname != 'incoming' %}
        &nbsp;
	<a href="###">(play)</a>
      {% endif %}

      {% if file.indexdesc or file.indexmeta %}
      <dd class="FileInfoList">
        <ul>
        {% if file.indexdesc %}
        <div class="FileComments">{{ file.indexdesc }}</div>
        {% endif %}
        {% if file.indexmeta %}
          {% for key, val in file.indexmeta %}
          <li class="MetadataLine">{{ key }}: {{ val }}
          {% endfor %}
        {% endif %}
        </ul>
      {% endif %}

    {% else %}
      <dd class="FileInfoLine">
      <span class="Tabular">{{ file.fdate }}</span>
    {% endif %}
      
    {% if fileops and not file.isspecial %}
    {% set ent = file %}
    {% include "filebuttons.html" %}
    {% endif %}

  {% endfor %}
</dl>

{% block postfilelist %}{% endblock %}

{% if formerror %}
<p>{{ formerror }}</p>
{% endif %}

{% if fileops %}
{% include "filebuttonresult.html" %}
{% endif %}

{% endblock %}
