{% extends "page.html" %}
{% from 'macros.html' import showfilesize %}

{% block content %}

{% if indexdirdesc or indexdirmeta %}
  <ul class="InfoList">
  {% if indexdirdesc %}
    <li><div class="FileComments">{{ indexdirdesc }}</div>
  {% endif %}
  {% if indexdirmeta %}
    {% for key, val in indexdirmeta %}
    <li class="MetadataLine">{{ key }}: {{ val }}
    {% endfor %}
  {% endif %}
  </ul>
{% endif %}

{% block prefilelist %}{% endblock %}

{# We use this to avoid repeating UploadInfo records. #}
{% set seenmd5set = {} %}

{% if subdirs %}
  <hr>
  <dl class="FileList">
    {% for dir in subdirs %}
      {% set isselected = (op and opfile != '.' and opfile == dir.name) %}
    
      <dt id="list_{{ dir.name |urlencode }}">
      {% if not dir.islink %}
        {% if dir.isspecial %}
          <code>{{ dir.name }}</code>
        {% else %}
          <code><a href="{{ approot }}/{{ uribase|urlencode }}/{{ dir.name|urlencode }}">{{ dir.name }}</a></code>
        {% endif %}
        <span class="Details">&nbsp; (subdir)</span>
      {% else %}
        <code>{{ dir.name }}</code>
        <span class="Details">&nbsp; (symlink
        {% if dir.isbroken %}<b>broken</b>{% endif %}
        &#x2192;
        {% if dir.isbroken %}
          <code>{{ dir.target }}</code>
        {%- else -%}
          <code><a href="{{ approot }}/{{ dir.realuri|urlencode }}">{{ dir.target }}</a></code>
        {%- endif -%}
      )</span>
      {% endif %}
      
      {% if dir.indexdesc or dir.indexmeta %}
      <dd class="FileInfoList">
        <ul>
        {% if dir.indexdesc %}
        <li><div class="FileComments">{{ dir.indexdesc }}</div>
        {% endif %}
        {% if dir.indexmeta %}
          {% for key, val in dir.indexmeta %}
          <li class="MetadataLine">{{ key }}: {{ val }}
          {% endfor %}
        {% endif %}
        </ul>
      {% endif %}
      
      {% if fileops and not dir.isspecial %}
      {% set ent = dir %}
      {% include "filebuttons.html" %}
      {% endif %}
      
    {% endfor %}
  </dl>
{% endif %}

<hr>

{% if not files %}
  <p>No files in <code>/{{ dirname }}</code>.<p>
{% endif %}

<dl class="FileList">
  {% for file in files %}
    {% set isselected = (op and opfile != '.' and opfile == file.name) %}

    <dt id="list_{{ file.name |urlencode }}">

    {% if not file.islink %}
      {% if file.isbroken %}
        <code>{{ file.name }}</code>
        <span class="Details Emph">&nbsp; (file not in this directory)</span>
      {% else %}
        <code><a href="{{ approot }}/{{ uribase|urlencode }}?view=dl&amp;filename={{ file.name|urlencode }}">{{ file.name }}</a></code>
        <span class="Details">&nbsp; ({{ showfilesize(file.size) }})</span>
      {% endif %}
    {% else %}
      <code>{{ file.name }}</code>
      <span class="Details">(symlink
      {% if file.isbroken %}<b>broken</b>{% endif %}
      &#x2192;
      {% if file.isbroken %}
        <code>{{ file.target }}</code>
      {%- else -%}
        <code><a href="{{ approot }}/{{ file.realuri|urlencode }}">{{ file.target }}</a></code>
      {%- endif -%}
      )</span>
    {% endif %}
    <br>

    {% if not file.islink %}
      <dd class="FileInfoLine">
      <span class="Tabular">{{ file.fdate }}</span>
      {% if not file.name|alllatin1 %}
        <span class="Emph">&nbsp; (name has Unicode)</span>
      {% endif %}
      {% if file.isspecial or file.isbroken %}
        {# no buttons #}
      {% else %}
        &nbsp;
        <a href="{{ approot }}/{{ uribase|urlencode }}?view=info&amp;filename={{ file.name|urlencode }}">(info)</a>
      {% endif %}
      {% if dirname != 'incoming' and dirname != 'trash' and dirname != '' %}
        {% if file.isiplay and not file.isspecial %}
          &nbsp;
          {% set archivepath = "https://ifarchive.org/if-archive/" ~ dirname ~ "/" ~ file.name %}
          <a target="_blank" href="https://iplayif.com/?story={{ archivepath|urlencode }}">(play)</a>
        {% endif %}
        {% if file.isunbox and not file.isspecial %}
          &nbsp;
          {% set archivepath = "/if-archive/" ~ dirname ~ "/" ~ file.name %}
          <a target="_blank" href="https://unbox.ifarchive.org/?url={{ archivepath|urlencode }}">(contents)</a>
        {% endif %}
      {% endif %}

    {% else %}
      <dd class="FileInfoLine">
      <span class="Tabular">{{ file.fdate }}</span>
    {% endif %}
      
    {% if file.indexdesc or file.indexmeta %}
    <dd class="FileInfoList">
      <ul>
      {% if file.indexdesc %}
      <li><div class="FileComments">{{ file.indexdesc }}</div>
      {% endif %}
      {% if file.indexmeta %}
        {% for key, val in file.indexmeta %}
        <li class="MetadataLine">{{ key }}: {{ val }}
        {% endfor %}
      {% endif %}
      </ul>
    {% endif %}

    {% if file.uploads %}
      {% set uploadhash = file.uploads[0].md5 %}
      <dd class="FileInfoList">
      {% if uploadhash in seenmd5set %}
        <ul class="InfoList">
          <li><span class="ItemName">
            {{ file.uploads|length }} upload record{{ file.uploads|length|plural }}
            already shown
            </span>
          <li><span class="ItemName">
            See identical file <code>{{ seenmd5set[uploadhash] }}</code>,
            above
            </span>
        </ul>
      {% else %}
        {% for uprec in file.uploads %}
        {% include "uploadrecord.html" %}
        {% endfor %}
        {% set _ = seenmd5set.__setitem__(uploadhash, file.name) %}
      {% endif %}
    {% endif %}

    {% if fileops and not file.isspecial %}
    {% set ent = file %}
    {% include "filebuttons.html" %}
    {% endif %}

  {% endfor %}
</dl>

{% block postfilelist %}{% endblock %}

{% if formerror %}
<p>{{ formerror }}</p>
{% endif %}

{% if fileops %}
{% include "filebuttonresult.html" %}
{% endif %}

{% endblock %}
