{% extends "page.html" %}

{% block title %}
Edit Index File
{% endblock %}

{% block content %}

<p>
{% if dirname %}
Editing Archive/{{ dirname }}/Index
{% else %}
Editing Archive/Index
{% endif %}
entry for <code>{{ filename }}</code>
{% if filetype == 'file' %}
(file)
{% elif filetype == 'dir' %}
(subdir)
{% elif filetype == 'link' %}
(symlink)
{% elif filetype == 'root' %}
(the directory itself)
{% endif %}

</p>

<form method="post" action="{{ requri }}">

<input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
<input type="hidden" name="op" value="editone"/>
<input type="hidden" name="filename" value="{{ filename }}"/>
{% if filetype %}
  <input type="hidden" name="filetype" value="{{ filetype }}"/>
{% endif %}
{% if dirname %}
  <input type="hidden" name="dirname" value="{{ dirname }}"/>
{% endif %}
<input type="hidden" name="indextime" value="{{ indextime }}"/>

<p class="ItemName">Description:</p>

<div>
<textarea class="FormTextArea" name="description" rows=10 spellcheck="false" autocomplete="disabled">
{{ description }}
</textarea>
</div>

<p class="ItemName">Metadata:</p>

<div>
<textarea class="FormTextArea" name="metadata" rows={{ [ metacount+2, 10 ] |min }} spellcheck="false" autocomplete="disabled">
{{ metadata }}
</textarea>
</div>

<div>
<input class="FormButton HotButton" name="commit" type="submit" value="Save">
<input class="FormButton" name="revert" type="submit" value="Revert">
<input class="FormButton" name="cancel" type="submit" value="Cancel">
</div>

{% if formerror %}
<p>{{ formerror }}</p>
{% endif %}

</form>

<hr>

<p class="ItemName">
Description text is <a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a>.
A few special shortcuts:
</p>
<ul>
<li><code>&lt;https://ifwiki.org/&gt;</code> &#x2014; auto-link URL
<li><code>&lt;/if-archive/dir/file.txt&gt;</code> &#x2014; auto-link directly to Archive file
<li><code>&lt;/if-archive/dir/subdir/&gt;</code> &#x2014; auto-link to Archive directory page (note closing slash)
<li><code>&lt;/if-archive/dir/#file.txt&gt;</code> &#x2014; auto-link to file entry in Archive directory page
</ul>
<p class="ItemName">
Metadata examples:
</p>
<ul>
<li><code>tuid: a1b2c3d4e5f6g7h8</code> &nbsp; (IFDB game ID)
<li><code>tuidcomp: a1b2c3d4e5f6g7h8</code> &nbsp; (IFDB comp ID)
<li><code>ifwiki: The_Page</code> &nbsp; (IFWiki page URI)
<li><code>unbox-link: false</code> &nbsp; (suppress "show contents")
<li><code>safety: text-porn, visual-porn, visual-gore, self-harm, eating-disorder</code>
</ul>

{% endblock %}
