{% extends "page.html" %}

{% block title %}
Edit Index File
{% endblock %}

{% block content %}

<form method="post" action="{{ requri }}">

<input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>

<div>
<input class="FormInput" autocapitalize="off"
  id="dir_field" name="dir" type="text" placeholder="Directory"
  autofocus="autofocus">
</div>
<div>
<input class="FormInput" autocapitalize="off"
  id="file_field" name="file" type="text" placeholder="File">
</div>
<div>
<input class="FormButton" name="commit" type="submit" value="Edit">
</div>

{% if formerror %}
<p>{{ formerror }}</p>
{% endif %}

</form>

{% endblock %}
