
{% if diddelete %}
<p>
  Deleted <code>{{ diddelete }}</code> from <code>/{{ dirname }}</code>.
</p>
{% endif %}

{% if didrename %}
<p>
  Renamed <code>{{ didrename }}</code> to <code>{{ didnewname }}</code>.
  {% if didindextoo %}(Also updated the Index file.){% endif %}
</p>
{% endif %}

{% if didmove %}
<p>
  Moved <code>{{ didmove }}</code> to <code>{{ didnewdir }}</code>.
</p>
{% endif %}

{% if didzip %}
<p>
  Zipped <code>{{ didzip }}</code> to <code>{{ didnewname }}</code>.
</p>
{% endif %}
