
<dd {% if isselected %}class="FileButtons Selected"{% else %}class="FileButtons"{% endif %}>

{% if not isselected %}

  <form method="post" action="{{ requri }}#list_{{ ent.name |urlencode }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="{{ ent.name }}"/>
  <input type="hidden" name="filedir" value="{{ dirname }}"/>
  {% if ent.islink %}
    <input type="hidden" name="filetype" value="link"/>
  {% elif ent.isfile %}
    <input type="hidden" name="filetype" value="file"/>
  {% elif ent.isdir %}
    <input type="hidden" name="filetype" value="dir"/>
  {% endif %}
  
  {# All items get "Edit Index".
    Note that the field names "filename" and "filedir" must match
    the form in editindexreq.html. #}
  {% if 'eindex' in fileops %}
    <input class="FormButton SmallButton" formaction="{{ approot }}/editindex" name="eindex" type="submit" value="Edit Index">
  {% endif %}
  {# Only existent files (not directories) get these buttons. #}
  {% if ent.isfile and not ent.islink and not ent.isbroken %}
    {% if 'zip' in fileops and ent.ishtml %}
      <input class="FormButton SmallButton" name="zip" type="submit" value="Zip">
    {% endif %}
    {% if 'move' in fileops %}
      <input class="FormButton SmallButton" name="move" type="submit" value="Move">
    {% endif %}
    {% if 'rename' in fileops %}
      <input class="FormButton SmallButton" name="rename" type="submit" value="Rename">
    {% endif %}
    {% if 'delete' in fileops %}
      <input class="FormButton SmallButton" name="delete" type="submit" value="Delete">
    {% endif %}
  {% endif %}
  </form>

{% else %}

  {% if op == 'delete' %}
  
  <div class="FormAction">Really delete <code>{{ opfile }}</code>?</div>
  <form method="post" action="{{ requri }}#list_{{ ent.name |urlencode }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="{{ opfile }}"/>
  <input type="hidden" name="op" value="{{ op }}"/>
  <input class="FormButton HotButton" name="confirm" type="submit" value="Delete">
  <input class="FormButton" name="cancel" type="submit" value="Cancel">
  </form>
  
  {% elif op == 'rename' %}

  <div class="FormAction">Rename <code>{{ opfile }}</code> to...</div>
  <form method="post" action="{{ requri }}#list_{{ ent.name |urlencode }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="{{ opfile }}"/>
  <input type="hidden" name="op" value="{{ op }}"/>
  <div>
    <input class="FormInput" autocomplete="disabled"
      id="newname_field" name="newname" type="input" value="{{ opfile }}" placeholder="New filename">
  </div>
  <div>
    <input class="FormButton HotButton" name="confirm" type="submit" value="Rename">
    <input class="FormButton" name="cancel" type="submit" value="Cancel">
  </div>
  </form>

  {% elif op == 'move' %}
  
  <div class="FormAction">Move <code>{{ opfile }}</code> to...</div>
  <form method="post" action="{{ requri }}#list_{{ ent.name |urlencode }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="{{ opfile }}"/>
  <input type="hidden" name="op" value="{{ op }}"/>
  {% if dirname != 'incoming' and 'incoming' in user.roles %}
  <div>
    <input id="destopt_inc" type="radio" name="destopt" value="inc">
    <label for="destopt_inc">/incoming</label>
  </div>
  {% endif %}
  {% if dirname != 'unprocessed' %}
  <div>
    <input id="destopt_unp" type="radio" name="destopt" value="unp" {% if dirname == 'incoming' %} checked {% endif %}>
    <label for="destopt_unp">if-archive/unprocessed</label>
  </div>
  {% endif %}
  {% if 'filing' in user.roles %}
    <div>
      <input id="destopt_other" type="radio" name="destopt" value="other">
      <label for="destopt_other">if-archive/</label>
      <input class="FormInput" autocomplete="disabled"
        id="dest_field" name="destination" type="input" {% if movedestgood %} value="{{ movedestgood }}" {% endif %} placeholder="Directory">
    </div>
    {% if movedestorig %}
    <div class="FormButtonLabel">Suggested: <code>{{ movedestorig }}</code>
      {% if movedestgood %}
        <a href="{{ approot }}/arch/{{ movedestgood|urlencode }}">(link)</a>
      {% else %}
        <span class="Emph">(invalid dir)</span>
      {% endif %}
      </div>
    {% endif %}
  {% endif %}
  <input class="FormButton HotButton" name="confirm" type="submit" value="Move">
  <input class="FormButton" name="cancel" type="submit" value="Cancel">
  </form>
  
  {% elif op == 'zip' %}
  
  <div class="FormAction">Really zip up <code>{{ opfile }}</code>?</div>
  <form method="post" action="{{ requri }}#list_{{ ent.name |urlencode }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="{{ opfile }}"/>
  <input type="hidden" name="op" value="{{ op }}"/>
  <input class="FormButton HotButton" name="confirm" type="submit" value="Zip">
  <input class="FormButton" name="cancel" type="submit" value="Cancel">
  </form>
  
  {% else %}
  
  <div class="FormAction">Action not implemented: {{ op }}</div>
  
  {% endif %}

  {% if selecterror %}
  <p>{{ selecterror }}</p>
  {% endif %}

{% endif %}
