
{% if diddelete %}
<p class="ResultNote">
  Deleted <code>{{ diddelete }}</code> from <code>/{{ dirname }}</code>.
  {% if didindextoo %}(Also removed it from the Index file.){% endif %}
</p>
{% endif %}

{% if diddellink %}
<p class="ResultNote">
  Deleted symlink <code>{{ diddellink }}</code> from <code>/{{ dirname }}</code>.
  {% if didindextoo %}(Also removed it from the Index file.){% endif %}
</p>
{% endif %}

{% if didrename %}
<p class="ResultNote">
  Renamed <code>{{ didrename }}</code> to <code>{{ didnewname }}</code>.
  {% if didindextoo %}(Also updated the Index file.){% endif %}
</p>
{% endif %}

{% if didmove %}
<p class="ResultNote">
  Moved <code>{{ didmove }}</code> to
  {% if didnewuri %}
    <a href="{{ approot }}/{{ didnewuri|urlencode }}"><code>{{ didnewdir }}</code></a>.
  {% else %}
    <code>{{ didnewdir }}</code>.
  {% endif %}
  {% if didindextoo %}(Also updated the Index files.){% endif %}
</p>
{% endif %}

{% if didlinkto %}
<p class="ResultNote">
  Created symlink to <code>{{ didlinkto }}</code> in
  {% if didnewuri %}
    <a href="{{ approot }}/{{ didnewuri|urlencode }}"><code>{{ didnewdir }}</code></a>.
  {% else %}
    <code>{{ didnewdir }}</code>.
  {% endif %}
  {% if didindextoo %}(Also copied the Index entry.){% endif %}
</p>
{% endif %}

{% if diduncache %}
<p class="ResultNote">
  Wiped <code>{{ diduncache }}</code> from the CloudFlare cache.
  {% if ziptoo %}(And its Unbox contents.){% endif %}
</p>
{% endif %}

{% if didzip %}
<p class="ResultNote">
  Zipped <code>{{ didzip }}</code> to <code>{{ didnewname }}</code>.
</p>
{% endif %}


{# The following are subdirops, but we report them here. #}

{% if didcsubdir %}
<p class="ResultNote">
  Created subdirectory <code>{{ didnewname }}</code>.
</p>
{% endif %}

{% if diddeldir %}
<p class="ResultNote">
  Deleted directory <code>{{ didnewname }}</code>.
</p>
{% endif %}
