{% extends "page.html" %}

{% block usetitle %}{% endblock %}

{% block content %}

<p>Welcome to the admin tool.</p>

<p>
  {% if not incount %}
    <code><a href="{{ approot }}/incoming">/incoming</a></code> is empty.
  {% else %}
    {{ incount }} {{ incount|plural('file is', 'files are') }} in
    <code><a href="{{ approot }}/incoming">/incoming</a></code>.
  {% endif %}
</p>

<p>
  {% if not unproccount %}
    <code><a href="{{ approot }}/arch/unprocessed">/unprocessed</a></code> is empty.
  {% else %}
    {{ unproccount }} {{ unproccount|plural('file is', 'files are') }} in
    <code><a href="{{ approot }}/arch/unprocessed">/unprocessed</a></code>.
  {% endif %}
</p>

{% if locktime is none %}
<p>
  <form method="post" action="{{ approot }}/rebuild">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input class="FormButton" name="commit" type="submit" value="Rebuild">
  all index pages.
  <div class="FormWarning">This will take 10-15 seconds.</div>
  </form>
</p>
{% else %}
<p>
  Index rebuild is currently running (for {{ locktime }} {{ locktime|plural('second', 'seconds') }}).
  <a href="{{ approot }}">Reload page</a> to see if it's finished.
</p>
{% endif %}

{% endblock %}
