{% extends "page.html" %}

{% block usetitle %}{% endblock %}

{% block content %}

<p>Welcome to the admin tool.</p>

<p>
  {% if not incount %}
    <code><a href="{{ approot }}/incoming">/incoming</a></code> is empty.
  {% else %}
    {{ incount }} {{ incount|plural('file is', 'files are') }} in
    <code><a href="{{ approot }}/incoming">/incoming</a></code>.
  {% endif %}
</p>

<p>
  {% if not unproccount %}
    <code><a href="{{ approot }}/arch/unprocessed">/unprocessed</a></code> is empty.
  {% else %}
    {{ unproccount }} {{ unproccount|plural('file is', 'files are') }} in
    <code><a href="{{ approot }}/arch/unprocessed">/unprocessed</a></code>.
  {% endif %}
</p>

{% endblock %}
