
{% if not op %}

<div>
  <form method="post" action="{{ approot }}/{{ uribase|urlencode }}?view=info&amp;filename={{ filename|urlencode }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="{{ filename }}"/>
  <input type="hidden" name="filedir" value="{{ dirname }}"/>
  <input class="FormButton" name="addusernote" type="submit" value="Add Note">
  </form>
</div>

{% elif op == 'addusernote' %}

  <form method="post" action="{{ approot }}/{{ uribase|urlencode }}?view=info&amp;filename={{ filename|urlencode }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="{{ filename }}"/>
  <input type="hidden" name="filedir" value="{{ dirname }}"/>
  <input type="hidden" name="op" value="{{ op }}"/>
  <div>
    <input class="FormInput" autocomplete="disabled"
      id="note_field" name="usernote" type="input" placeholder="Info for other admins">
  </div>
  <div>
    <input class="FormButton HotButton" name="confirm" type="submit" value="Add Note">
    <input class="FormButton" name="cancel" type="submit" value="Cancel">
  </div>
  </form>

{% else %}

  <div>Action not implemented: {{ op }}</div>

{% endif %}

{% if formerror %}
<p>{{ formerror }}</p>
{% endif %}
