
{% if not op %}

<div>
  <form method="post" action="{{ approot }}/{{ uribase|urlencode }}?view=info&amp;filename={{ filename|urlencode }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="{{ filename }}"/>
  <input type="hidden" name="filedir" value="{{ dirname }}"/>
  <input class="FormButton" name="addusernote" type="submit" value="Add Note">
  </form>
</div>

{% if 'notifyifdb' in fileops and uploads|attrlist('ifdbid') %}
<div>
  <form method="post" action="{{ approot }}/{{ uribase|urlencode }}?view=info&amp;filename={{ filename|urlencode }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="{{ filename }}"/>
  <input type="hidden" name="filedir" value="{{ dirname }}"/>
  <input class="FormButton" name="notifyifdb" type="submit" value="Notify IFDB">
    of location <code>if-archive/{{ dirname }}</code>
  </form>
</div>
{% endif %}

{% elif op == 'addusernote' %}

  <form method="post" action="{{ approot }}/{{ uribase|urlencode }}?view=info&amp;filename={{ filename|urlencode }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="{{ filename }}"/>
  <input type="hidden" name="filedir" value="{{ dirname }}"/>
  <input type="hidden" name="op" value="{{ op }}"/>
  <div>
    <input class="FormInput" autocomplete="disabled"
      id="note_field" name="usernote" type="input" placeholder="Info for other admins">
  </div>
  <div>
    <input class="FormButton HotButton" name="confirm" type="submit" value="Add Note">
    <input class="FormButton" name="cancel" type="submit" value="Cancel">
  </div>
  </form>

{% elif op == 'notifyifdb' %}

  {% set ifdbids = uploads|attrlist('ifdbid') %}
  {% set tuids = uploads|attrlist('tuid') %}
  {% set orignames = uploads|attrlist('origfilename') %}
  <div class="FormAction">Notify IFDB that this file's permanent home is <code>if-archive/{{ dirname }}</code>...</div>
  <form method="post" action="{{ approot }}/{{ uribase|urlencode }}?view=info&amp;filename={{ filename|urlencode }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="{{ filename }}"/>
  <input type="hidden" name="filedir" value="{{ dirname }}"/>
  <input type="hidden" name="op" value="{{ op }}"/>
  {% if ifdbids|length == 1 %}
    <input type="hidden" name="ifdbid" value="{{ ifdbids[0] }}"/>
  {% else %}
    <div class="FormAction">(This file was uploaded {{ ifdbids|length }} times with different IFDB IDs. IFDB will probably recognize one at most; you may have to try them all.)</div>
    {% for val in ifdbids %}
      <div>
        <input id=ifdbid_{{ val }} type="radio" name="ifdbid" value="{{ val }}">
        <label for="ifdbid_{{ val }}"><span class="ItemName">IFDB temp ID:</span> {{ val }}</label>
      </div>
    {% endfor %}
  {% endif %}
  {% for tuid in tuids %}
    <input type="hidden" name="tuid" value="{{ tuid }}"/>
  {% endfor %}
  {% for origname in orignames %}
    <input type="hidden" name="origfilename" value="{{ origname }}"/>
  {% endfor %}
  <div>
    <input class="FormButton HotButton" name="confirm" type="submit" value="Notify">
    <input class="FormButton" name="cancel" type="submit" value="Cancel">
  </div>
  </form>

{% else %}

  <div>Action not implemented: {{ op }}</div>

{% endif %}

{% if formerror %}
<p>{{ formerror }}</p>
{% endif %}

{# We handle the notifyifdb result here -- there's no separate infobuttonresult.html template. #}

{% if didnotifyifdb %}
<p class="ResultNote">
  Notified IFDB that this file (with IFDB temp ID {{ ifdbid }})
  {% if tuid %}
  (and IFDB TUID {{ tuid }})
  {% endif %}
  is now in <code>if-archive/{{ dirname }}</code>.
</p>
<div class="ResultNote FileComments">{{ reqresult }}</div>
{% endif %}
