{% extends "page.html" %}

{% block usetitle %}{% endblock %}

{% block content %}

<form method="post" action="{{ approot }}">

<input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>

<div>
<input class="FormInput" autocapitalize="off"
  id="login_field" name="name" type="text" placeholder="Name or email"
  autofocus="autofocus">
</div>
<div>
<input class="FormInput" autocomplete="disabled"
  id="password_field" name="password" type="password" placeholder="Password">
</div>
<div>
<input class="FormButton" name="commit" type="submit" value="Sign in">
</div>

{% if formerror %}
<p>{{ formerror }}</p>
{% endif %}

</form>

{% endblock %}
