
{# dirchain(): Given a list of (dirname, URI) pairs, write them out
   as hyperlinks. (If lastbare is true, omit the last hyperlink.)
   This is typically used on "uri|splituri". #}

{%- macro dirchain(ls, lastbare=False) -%}
  {% if not lastbare %}
    {% set slash = joiner('/') %}
    {%- for label, uri in ls -%}
      {{ slash() }}<a href="{{ approot }}/{{ uri|urlencode }}">{{ label }}</a>
    {%- endfor -%}
  {% else %}
    {% set slash = joiner('/') %}
    {%- for label, uri in ls[0:-1] -%}
      {{ slash() }}<a href="{{ approot }}/{{ uri|urlencode }}">{{ label }}</a>
    {%- endfor -%}
    {{ slash() }}{{ ls[-1][0] }}
  {% endif %}
{%- endmacro -%}


{# optlink(): Turn a URI into a hyperlink if flag is set. #}

{%- macro optlink(text, uri, flag) -%}
  {%- if flag -%}
    <a href="{{ approot }}{{ uri|urlencode }}">{{ text }}</a>
  {%- else -%}
    {{ text }}
  {%- endif -%}
{%- endmacro -%}

{%- macro showfilesize(val) -%}
  <span class="ToolTip" title="{{ val|delimnumber }} bytes">{{ val|prettybytes }}</span>
{%- endmacro -%}
