
{% if user %}

{% set isadmin = ('admin' in user.roles) %}

<div id="navbar">

  <a {% if navtab=='top' %} class="Selected" {% endif %} href="{{ approot }}">Top</a>
  
  {% if isadmin or ('incoming' in user.roles) %}
  <a {% if navtab=='incoming' %} class="Selected" {% endif %} href="{{ approot }}/incoming">Incoming</a>
  {% endif %}

  {% if isadmin or ('incoming' in user.roles) %}
  <a {% if navtab=='uploads' %} class="Selected" {% endif %} href="{{ approot }}/uploadlog">UploadLog</a>
  {% endif %}

  {% if isadmin or ('incoming' in user.roles) %}
  <a {% if navtab=='trash' %} class="Selected" {% endif %} href="{{ approot }}/trash">Trash</a>
  {% endif %}

  {% if isadmin %}
  <a {% if navtab=='admin' %} class="Selected" {% endif %} href="{{ approot }}/admin">Admin&#xB2;</a>
  {% endif %}

</div>

{% endif %}
