
{% if user %}

<div id="navbar">

  <a {% if navtab=='top' %} class="Selected" {% endif %} href="{{ approot }}">Home</a>
  
  {% if 'incoming' in user.roles %}
  <a {% if navtab=='uploads' %} class="Selected" {% endif %} href="{{ approot }}/uploadlog">UploadLog</a>
  {% endif %}

  {% if 'incoming' in user.roles %}
  <a {% if navtab=='incoming' %} class="Selected" {% endif %} href="{{ approot }}/incoming">Incoming</a>
  {% endif %}

  {% if True %}
  <a {% if navtab=='unprocessed' %} class="Selected" {% endif %} href="{{ approot }}/arch/unprocessed">Unprocessed</a>
  {% endif %}

  {% if True %}
  <a {% if navtab=='archive' %} class="Selected" {% endif %} href="{{ approot }}/arch">Archive</a>
  {% endif %}

  {% if 'incoming' in user.roles %}
  <a {% if navtab=='trash' %} class="Selected" {% endif %} href="{{ approot }}/trash">Trash</a>
  {% endif %}

  {% if 'admin' in user.roles %}
  <a {% if navtab=='admin' %} class="Selected" {% endif %} href="{{ approot }}/admin">Admin&#xB2;</a>
  {% endif %}

</div>

{% endif %}
