<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IF Archive Admin: {{ self.title() }}</title>
  <link rel="stylesheet" href="{{ appcssuri }}" type="text/css">
  {% block exthead %}{% endblock %}
</head>
<body>
  <div id="header">
    <div id="headercol">
      {% if user %}
      <div id="userline">Logged in as <a href="{{ approot }}/user">{{ user.name }}</a><br><a href="{{ approot }}/logout">Log Out</a></div>
      {% endif %}
      <h1>IF Archive Admin</h1>
    </div>
  </div>
  <div id="body">
    <div id="bodycol">
{% include 'navbar.html' %}
{% block usetitle %}<h1>{% block title %}Home{% endblock %}</h1>{% endblock %}
{% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
