{% if locktime is none %}
  {% if user and 'rebuild' in user.roles %}
  <div>
    <form method="post" action="{{ approot }}/rebuild">
    <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
    <input class="FormButton" name="commit" type="submit" value="Rebuild">
    all index pages.
    <div class="FormWarning">This will take 5-6 seconds.</div>
  </form>
  </div>
  {% endif %}
{% else %}
  <p>
    Index rebuild is currently running (for {{ locktime }} {{ locktime|plural('second', 'seconds') }}).
    <a href="{{ requri }}">Reload page</a> to see if it's finished.
  </p>
{% endif %}

{% if buildtime %}
  <p>Last rebuild: {{ buildtime }}</p>
  <div class="FileComments">{{ builddesc }}</div>
{% endif %}
