{% if locktime is none %}
  {% if user and 'rebuild' in user.roles %}
  <div>
    <form method="post" action="{{ approot }}/rebuild">
    <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
    <input class="FormButton" name="commit" type="submit" value="Rebuild">
    index pages.
    <div class="FormSubaction FormWarning">This will take 8-9 seconds.</div>
    <div class="FormSubaction">
      <input id="reqall" name="reqall" type="checkbox">
      <label for="reqall" class="SmallButton">Rebuild <em>all</em> index pages</label>
      <span class="FormWarning">(more like 15-20 seconds)</span>
    </div>
    <div class="FormSubaction">
      <input id="reqsearch" name="reqsearch" type="checkbox">
      <label for="reqsearch" class="SmallButton">Also rebuild the search index</label>
      <span class="FormWarning">(adds another 20 seconds)</span>
    </div>
  </form>
  </div>
  {% endif %}
{% else %}
  <p>
    Index rebuild is currently running (for {{ locktime }} {{ locktime|plural('second', 'seconds') }}).
    <a href="{{ requri }}">Reload page</a> to see if it's finished.
  </p>
{% endif %}

{% if buildtime %}
  <p>Last rebuild: {{ buildtime }}</p>
  <div class="FileComments">{{ builddesc }}</div>
{% endif %}
