<div id="list_." {% if isdirselected %}class="SubdirButtons Selected"{% else %}class="SubdirButtons"{% endif %}>

{% if not isdirselected %}

  {% if 'csubdir' in fileops %}
    <div>
    <form method="post" action="{{ requri }}">
    <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
    <input type="hidden" name="filedir" value="{{ dirname }}"/>
    <input type="hidden" name="filename" value="."/>
    <input class="FormButton" name="csubdir" type="submit" value="Create Subdirectory">
    </form>
    </div>
  {% endif %}

  {% if emptydir and '/' in dirname and 'deldir' in fileops %}
    {# Note that we can't delete root *or* direct children of root. #}
    <div>
    <form method="post" action="{{ requri }}">
    <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
    <input type="hidden" name="filedir" value="{{ dirname }}"/>
    <input type="hidden" name="filename" value="."/>
    <input class="FormButton" name="deldir" type="submit" value="Delete This Directory">
    </form>
    </div>
  {% endif %}

{% else %}

  {% if op == 'csubdir' %}

  <div class="FormAction">Create subdir named...</div>
  <form method="post" action="{{ requri }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="."/>
  <input type="hidden" name="op" value="{{ op }}"/>
  <div>
    <input class="FormInput" autocomplete="disabled"
      id="newname_field" name="newname" type="input" value="" placeholder="Directory name">
  </div>
  <div>
    <input class="FormButton HotButton" name="confirm" type="submit" value="Create">
    <input class="FormButton" name="cancel" type="submit" value="Cancel">
  </div>
  </form>

  {% elif op == 'deldir' %}

  <div class="FormAction">Really delete <code>{{ dirname }}</code>?</div>
  <form method="post" action="{{ requri }}">
  <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
  <input type="hidden" name="filename" value="."/>
  <input type="hidden" name="subdirname" value="{{ delchilddir }}"/>
  <input type="hidden" name="op" value="{{ op }}"/>
  <input class="FormButton HotButton" formaction="{{ approot }}/arch/{{ delparentdir }}" name="confirm" type="submit" value="Delete">
  <input class="FormButton" name="cancel" type="submit" value="Cancel">
  </form>

  {% else %}
  
  <div class="FormAction">Action not implemented: {{ op }}</div>

  {% endif %}

  {% if selecterror %}
  <p>{{ selecterror }}</p>
  {% endif %}
  
{% endif %}

</div>
