{% extends "directory_base.html" %}

{% block title %}Trash Folder{% endblock %}

{% block prefilelist %}
<p>(Files in the trash will be deleted after 30 days.)</p>
{% endblock %}


{% block XXXXcontent %}

{% if not files %}
<p>No files in <code>/trash</code>.<p>
{% endif %}

<dl class="FileList">
  {% for file in files %}
    {% set isselected = (op and opfile == file.name) %}

    <dt>
    <span class="Details">{{ file.fdate }}
    <a href="{{ approot }}/trash/info/{{ file.name|urlencode }}">(info)</a> :</span>
    <code><a href="{{ approot }}/trash/download/{{ file.name|urlencode }}">{{ file.name }}</a></code>
    <span class="Details">({{ file.size|delimnumber }} bytes)</span>

    <dd {% if isselected %}class="Selected"{% endif %}>
    {% if not isselected %}

    <form method="post" action="{{ requri }}">
    <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
    <input type="hidden" name="filename" value="{{ file.name }}"/>
    <input class="FormButton" name="restore" type="submit" value="Restore">
    </form>

    {% else %}

      {% if op == 'restore' %}
      
      <div class="FormAction">Move <code>{{ opfile }}</code> back to <code>/incoming</code>?</div>
      <form method="post" action="{{ approot }}/trash">
      <input type="hidden" name="_xsrf" value="{{ req._xsrf }}"/>
      <input type="hidden" name="filename" value="{{ opfile }}"/>
      <input type="hidden" name="op" value="{{ op }}"/>
      <input class="FormButton" name="cancel" type="submit" value="Cancel">
      <input class="FormButton" name="confirm" type="submit" value="Restore">
      </form>
      
      {% else %}
      
      <div class="FormAction">Action not implemented: {{ op }}</div>
      
      {% endif %}
    
    {% endif %}

  {% endfor %}
</dl>

{% if formerror %}
<p>{{ formerror }}</p>
{% endif %}

{% if didrestore %}
<p>
  Restored <code>{{ didrestore }}</code> to <code><a href="{{ approot }}/incoming">/incoming</a></code>.
</p>
{% endif %}

{% endblock %}
