{% extends "directory_base.html" %}
{% from 'macros.html' import dirchain %}

{% block title %}Archive/unprocessed{% endblock %}

{% block usetitle %}
<h1>{{ dirchain(uribase|splituri, lastbare=True) }}</h1>
{% endblock %}

{% block prefilelist %}
  <p>(<a href="{{ approot }}/arch">&#x2191; Parent directory</a>)</p>
{% endblock %}

{% block postfilelist %}

{% if incomingcount %}
<p>({% if files %}Also, {% else %}{% endif %}{{ incomingcount }}
  {{ incomingcount|plural('file is', 'files are') }} in
  <code><a href="{{ approot }}/incoming">/incoming</a></code>.)</p>
{% endif %}

{% endblock %}
