{% extends "page.html" %}

{% block title %}
Upload History
{% endblock %}

{% block content %}

{% for ent in uploads %}
<ul>
  <li>Upload time: {{ ent.fdate }}
  <li>Filename: <code>{{ ent.filename }}</code>
  {% if ent.filename != ent.origfilename %}
    <li>Original filename: <code>{{ ent.origfilename }}</code>
  {% endif %}
  <li>Size: {{ ent.size|delimnumber }} bytes
  <li>Uploader:
    {% if ent.donorname %}{{ ent.donorname }}{% else %}Anonymous{% endif %}
    {% if ent.donoremail %}&lt;{{ ent.donoremail }}&gt;{% endif %}
    {% if ent.donorip %}&nbsp; ({{ ent.donorip }}){% endif %}
  <li>Rights: {{ ent.permission }}
  {% if ent.suggestdir %}
    <li>Suggested dir: <code>if-archive/{{ ent.suggestdir }}</code>
  {% endif %}
</ul>
{% endfor %}

{% endblock %}
