{% extends "uploadlist_base.html" %}
{% from 'macros.html' import dirchain %}

{% block title %}
Upload Info
{% endblock %}

{% block preuploadlist %}

<p>Info for
  {{ dirchain(uribase|splituri) }}/<code><a href="{{ approot }}/{{ uribase|urlencode }}?view=dl&amp;filename={{ filename|urlencode }}">{{ filename }}</a></code>:
  ({{ filesize|delimnumber }} bytes)
</p>

{% if not uploads %}
  {% if not filesize %}
  <p>This is a zero-length file, so there is no upload information.</p>
  {% else %}
  <p>No upload information recorded for this file.</p>
  {% endif %}
{% elif uploads|length > 1 %}
<p>({{ uploads|length }} upload records with the same file content.)</p>
{% endif %}

{% endblock %}
