{% extends "page.html" %}

{% block title %}
User Info
{% endblock %}

{% block exthead %}
<style type="text/css">
  ul li {
      margin-top: 4px;
      margin-bottom: 4px;
  }
  .ItemName {
      font-size: 85%;
  }
</style>
{% endblock %}

{% block content %}

<ul>
  <li><span class="ItemName">Username:</span>
    {{ user.name }}
  <li><span class="ItemName">Password</span>
    &nbsp; <a href="{{ approot }}/user/changepw">(change)</a>
  <li><span class="ItemName">Email:</span>
    {{ user.email }}
  <li><span class="ItemName">Roles:</span>
    {{ user.roles | sort | join(', ') }}
  <li><span class="ItemName">Time zone:</span>
    {% if user.tzname %} {{ user.tzname }} {% else %} (not set, using UTC) {% endif %}
    &nbsp; <a href="{{ approot }}/user/changetz">(change)</a>
</ul>

{% endblock %}
