{% extends "page.html" %}

{% block title %}
User Info
{% endblock %}

{% block content %}

<ul class="UserInfoList">
  <li><span class="ItemName">Username:</span>
    {{ user.name }}
  <li><span class="ItemName">Password</span>
    &nbsp; <a href="{{ approot }}/user/changepw">(change)</a>
  <li><span class="ItemName">Email:</span>
    {{ user.email }}
  <li><span class="ItemName">Roles:</span>
    {{ user.rolestr }}
  <li><span class="ItemName">Time zone:</span>
    {% if user.tzname %} {{ user.tzname }} {% else %} (not set, using UTC) {% endif %}
    &nbsp; <a href="{{ approot }}/user/changetz">(change)</a>
</ul>

{% endblock %}
